@font-face {
  font-family: "Sofia Pro Regular";
  src: url('/lorem-ipsum-co-spa/dist/assets/fonts/SofiaProRegular.woff') format('woff');
}

@font-face {
  font-family: "Sofia Pro";
  src: url('/lorem-ipsum-co-spa/dist/assets/fonts/SofiaProMedium.woff') format('woff');
}

@font-face {
  font-family: "Sofia Pro Bold";
  src: url('/lorem-ipsum-co-spa/dist/assets/fonts/SofiaProBold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
